* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "PFDinDisplayPro";
    src: url("../fonts/PFDinDisplayPro Regular.ttf"),
         url("../fonts/pfdindisplaypro-reg.ttf") format("embedded-opentype");

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PFDinDisplayPro";
    src: url("../fonts/pfdindisplaypro-light.ttf"),
        url("../fonts/pfdindisplaypro-light.ttf") format("embedded-opentype");

    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "PFDinDisplayPro";
    src: url("../fonts/pfdindisplaypro-Medium.ttf"),
        url("../fonts/pfdindisplaypro-Medium.ttf") format("embedded-opentype");

    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadPro-Regular.otf");

    font-weight: 400;
    font-style: normal;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "PFDinDisplayPro";
    font-weight: 400;
    font-style: normal;
}

.container-seoaudit {
    max-width: 1633px;
    padding: 0 15px;
    margin: 0 auto;
}

.seoaudit-screen {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.seoaudit-screen__skin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.85;
    z-index: 1;
}

.seoaudit-screen__decor {
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.seoaudit-screen__title {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 60px;
    z-index: 3;
    padding-bottom: 20px;
}

.seoaudit-screen__text {
    position: relative;
    font-family: "PFDinDisplayPro", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 23px;
    text-align: center;
    max-width: 775px;
    z-index: 3;
    color: #000;
    padding-bottom: 45px;
}

.seoaudit-screen__btn {
    position: relative;
    width: 250px;
    padding: 20px 70px;
    background-color: #bd1f1e;
    color: #fff;
    box-shadow: 1px 1px 5px#bd1e1eca;
    transition: all 0.2s ease-in-out;
    border-radius: 50px;
    z-index: 30;
    color: #fff;
    font-family: "pfd", sans-serif;
    font-weight: 400;
}

.seoaudit-screen__btn:hover {
    box-shadow: 0 0 15px #bd1f1e;
    transition: all 0.2s ease-in-out;
}

.seoaudit-price__crumbs {
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
    padding: 30px 0 50px 0;
    font-size: 15px;
}

.seoaudit-price__crumbs span {
    font-weight: 400;
}

.price-items {
    display: flex;
}

.price-items__column {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    order: 1;
}

.price-items__column:last-child {
    order: 2;
}

.price-items__title {
    font-size: 28px;
    color: #000;
    line-height: 72px;
    padding-bottom: 35px;
}

.items-price {
    display: flex;
    margin-bottom: 53px;
}

.items-price__image {
    padding: 10px;
    height: 52px;
    border-radius: 8px;
    background-color: #3a8ad8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-price__text {
    padding-left: 50px;
    font-size: 21px;
    max-width: 900px;
    line-height: 30px;
}

.price-items__price {
    font-size: 40px;
    padding-left: 100px;
}

.price-items__image img {
    max-width: 818px; 
    width: 100%;
}

.footer {
    background-color: #2a5d68;
}

.footer-container {
    max-width: 1525px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-items {
    display: flex;
    padding-top: 50px;
}

.footer-items__column {
    flex: 0 1 33.333%;
}

.footer-logo__items {
    display: flex;
} 

.footer-items__info {
    font-family: 'pfd', sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 45px;
    margin-left: 15px;
}

.footer-items__info-title {
    font-size: 35px;
    margin-bottom: 10px;
}

.footer-items__info-text {
    font-size: 17px;
    margin-bottom: 10px;
    max-width: 212px;
}

.footer-items__menu {
    margin-top: 33px;
    display: flex;
    justify-content: center;
}

.footer-menu {
    font-size: 25px;
    font-family: 'pfd', sans-serif;
    font-weight: 400;
    line-height: 35px;
}

.footer-menu a {
    color: #fff;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.footer-items__title {
    margin-top: 45px;
    font-size: 30px;
    color: #fff;
    font-family: 'pfd', sans-serif;
    font-weight: 400;
}

.footer-contacts {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}

.footer-info {
    display: block;
}

.footer-contacts__city {
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
}

.footer-contacts__address {
    font-size: 17px;
    max-width: 196px;
    color: #fff;
    display: block;
}

.footer-contacts__socials {
    display: flex;
    justify-content: space-between;
}

.footer-contacts__socials-item {
    margin-left: 44px;
}

.footer-contacts__socials-item:first-child {
    margin-left: 0;
}

.footer-rights {
    text-align: center;
    font-size: 17px;
    color: #fff;
    font-family: 'pfd', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 25px;
}

@media (max-width: 1460px) {
    .footer-rights {
        margin-top: 20px;
    }
}

@media (max-width: 1315px) {
    .price-items {
        flex-wrap: wrap;
    }
    
    .price-items__column {
        flex: 0 1 100%;
        order: 2;
        align-items: center;
    }
    
    .price-items__column:last-child {
        order: 1;
    }

    .price-items__price {
        padding-left: 0;
    }
}

@media (max-width: 1060px) {
    .footer-items {
        flex-wrap: wrap;
    }

    .footer-items__column {
        flex: 0 1 50%;
    }

    .footer-items__column:last-child {
        margin-left: 10px;
    }

    .footer-items__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-contacts__socials {
        margin: 44px 0 0 0;
    }

    .footer-items__title {
        margin-top: 30px;
    }
}

@media (max-width: 938px) {
    .footer-items__column:last-child {
        margin: 0;
    }
}

@media (max-width: 730px) {
    .footer-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-items__column {
        flex: 0 1 100%;
    }

    .footer-items__menu {
        margin-top: 33px;
        display: flex;
        justify-content: flex-start;
        text-align: center;
    }

    .footer-contacts {
        flex-direction: column;
        text-align: center;
    }

    .footer-contacts__socials {
        justify-content: center;
    }

    .footer-items__title {
        text-align: center;
    }
}

@media (max-width: 470px) {
    .price-items__price {
        font-size: 30px;
    }
}

@media (max-width: 450px) {
    .items-price {
        flex-direction: column;
        align-items: center;
    }

    .items-price__image {
        margin-bottom: 30px;
    }

    .items-price__text {
        padding-left: 0;
        text-align: center;
        max-width: none;
    }

    .price-items__title {
        font-size: 25px;
        line-height: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 375px) {
    .footer-logo__items {
        flex-direction: column;
        align-items: center;
    }

    .footer-items__info {
        text-align: center;
        margin-top: 20px;
    }

    .footer-items__buttons {
        margin-top: 50px;
    }

    .footer-items__menu {
        margin-top: 20px;
    }

    .footer-items__title {
        margin-top: 20px;
    }
}